.display-container {
  display: grid;
  border-width: 2px;
  border-radius: 5px;
  border-color: slateblue;
  width: 95%;
  height: 50%;
  margin-left: 3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  overflow: auto;
}

.displayMessage {
  font-weight: bolder;
  color: rgb(0, 255, 38);
  font-size: 1.5em;
}

.item-container {
  margin: auto;
  background-color: white;
  width: 80%;
  
  border-radius: 5px;
  border-width: 2px;
  padding-top: 10px;
  margin-top: 10px;
  border-color: gray;
}

.item-desc {
  font-weight: bold;
  font-size: 1.1em;
}
