.home-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 7vh;
}
.home-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 8px;
  border: solid rgb(197, 197, 230);
  background-color: #afc5ff;
  font-size: 2rem;
}

.home-btn:hover {
  background-color: #83a2fa;
}

.home-btn-dark {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 8px;
  border: solid rgb(197, 197, 230);
  background-color: #4f4e4f;
  font-size: 2rem;
}

.home-btn-dark:hover {
  background-color: #b3b1b3;
}
