.input-container {
  display: flex;
  flex-direction: column;
  width: auto;
}
.inputMessage {
  margin-top: 25px;
  font-weight: bolder;
  font: navy;
  font-size: 1.5em;
}

.inputButton {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 8px;
  border: solid rgb(197, 197, 230);
  background-color: #afc5ff;
  font-size: 20px;
}

.inputLink-box,
.inputDesc-box,
.inputTag-box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-box {
  padding: 20px 50px;
  border: solid rgb(197, 197, 230);
  border-radius: 15px;
}
