Input.css

.input-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.input-container-dark {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: rgb(53, 52, 52);
  color: white;
}
.inputMessage {
  margin-top: 25px;
  font-weight: bolder;
  font: navy;
  font-size: 1.5em;
}

.inputMessage-dark {
  margin-top: 25px;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
}

.inputButton {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 8px;
  border: solid rgb(197, 197, 230);
  background-color: #afc5ff;
  font-size: 20px;
}

.inputButton-dark {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 8px;
  border: solid rgb(197, 197, 230);
  background-color: black;
  color: white;
  font-size: 20px;
}


.input-box {
  padding: 20px 50px;
  border: solid rgb(197, 197, 230);
  border-radius: 15px;
}

.inputLabel-dark {
  color: white;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.color {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  margin-bottom: 2vh;
}