label {
  font-size: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  font-size: 20px;
}

.nav .logo img {
  display: flex;
  flex: 0.2;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
}
.searchGo {
  padding: 7px 5px;
  border-radius: 20px;
}

.searchB {
  border: solid black;
  border-radius: 25px 25px 25px 25px;
  margin-top: 5px;
  font-size: 20px;
}
