label {
  font-size: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to top, #eef606 0%, #05f118 100%);
  font-size: 20px;
}

.nav-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to top, #030303 0%, #1b1b1b 100%);
  font-size: 20px;
}

.nav .logo img {
  display: flex;
  flex: 0.2;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.nav-dark .logo img {
  display: flex;
  flex: 0.2;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  margin-left: auto;
  margin-right: 2em;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
}

.search-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  margin-left: auto;
  margin-right: 2em;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  color: white;
}

.searchGo {
  padding: 7px 5px;
  border-radius: 8px;
  border: 0;
}

.searchB {
  border: solid black;
  border-radius: 2em 2em 2em 2em;
  margin-top: 1em;
  font-size: 20px;
  border: 0;
}

.searchB:hover {
  background-color: #cfcfcf;
}
